{% extends "layout.html" %} {% block title %} Node {% endblock %} {% block main
%}

<form action="/node" method="post">
  <button class="btn btn-primary" type="submit">
    <h2>Mine block</h2>
  </button>
</form>

<br />
<h2>Node Transactions</h2>
<br />

<table class="table table-striped">
  <thead>
    <tr>
      <th class="text-start">sender</th>
      <th class="text-start">recipient</th>
      <th class="text-start">amount</th>
      <th class="text-start">description</th>
      <th class="text-start">sign</th>
      <th class="text-start">created at</th>
    </tr>
  </thead>
  <tbody>
    {% for transaction in transactions %}
    <tr>
      <td class="text-start">{{ transaction["sender_public_key"][71:103] }}</td>
      <td class="text-start">
        {{ transaction["recipient_public_key"][71:103] }}
      </td>
      <td class="text-start">{{ transaction["amount"] }}</td>
      <td class="text-start">{{ transaction["description"] }}</td>
      <td class="text-start">{{ transaction["sign"][78:110] }}</td>
      <td class="text-start">{{ transaction["created_at"] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
